################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/Qlipboard/obj
/QlipboardForms/obj
/Qlipboard/bin/x64/Debug/net8.0-windows10.0.26100.0/win-x64
/QlipboardForms/bin/Debug/net8.0-windows10.0.26100.0
